nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
}

.left-logo {
  font-family: 'Bungee', sans-serif;
}

.right-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-tweet {
  font-family: 'Source Sans 3', sans-serif;
  margin-left:auto;

}

.material-symbols-outlined {
  margin-left: 3px;
  color: #FF0000;
  margin-top: 5px;
}
